<h2>个人资料</h2>
<div *ngIf="user">
  <form (ngSubmit)="saveProfile()">
    <label>用户名: </label>
    <input [(ngModel)]="user.username" name="username" disabled><br>
    <label>出生日期: </label>
    <input type="date" [(ngModel)]="user.birthdate" name="birthdate"><br>
    <label>年龄: </label>
    <input type="number" [(ngModel)]="user.age" name="age"><br>
    <label>邮箱: </label>
    <input type="email" [(ngModel)]="user.email" name="email"><br>
    <label>密码: </label>
    <input type="password" [(ngModel)]="user.password" name="password"><br>
    <button type="submit">保存</button>
  </form>
</div>
